body {
    background-color: forestgreen;
}

.wrapper h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.wrapper h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper li {
    text-align: center;
    font-size: large;
    margin: auto;
    border: 5px solid black;
}

#footer {
    border: 7px dotted black;
    font-family: 'Courier New', Courier, monospace;
}

#footer iframe {
    padding: 1px;
    margin-inline-start: 150px;
}